# Секреты и переменные окружения
.env

# Папки виртуальных окружений
venv/
*.venv

# Артефакты и кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки IDE (редакторы кода)
.vscode/
.idea/

credentials.json